[2020-10-27 18:18] UmanShahzad opened #1 "Design initial API"
There's a lot to be thought of here, but we can definitely start with something impactful and real use cases we've hit that a CLI could've made easier.

We should do the following, at least:

1. Look into the greynoise CLI for some motivation: https://github.com/GreyNoise-Intelligence/pygreynoise

    What's interesting is they have a "[GNQL](https://github.com/GreyNoise-Intelligence/GNQL)", a dom

[2021-01-28 04:25] UmanShahzad opened #3 "Make binary available via OS distribution repositories"
We can distribute the binary for each platform via Github initially so it can be installed with `curl`/`wget`/etc, but it'd be even better if developers (the most likely users here) could grab it via their OS distributor's package repo. This could give us auto-completion automatically as well without a separate install step for that.

We can start with making it available via Ubuntu's package repo

[2021-02-10 05:40] UmanShahzad opened #5 "Shell auto-completion"
In the initial version we won't have proper shell auto-completion.

There exist some completion frameworks in Golang but they were too buggy and/or didn't support our flag format.

Most preferable would be finding a tool that auto-generates some completion script in whatever language (doesn't have to be Golang), and we include it in the package.

[2021-03-03 23:20] coderholic opened #6 "Support output format options"
should support json, csv and pretty output for most commands. If it already does it's not documented in the usage output

[2021-03-03 23:23] coderholic opened #7 "Improve display of summary output"
Currently looks like this, which isn't very information dense, and has high contrast. We should think about how we can reduce the number of empty lines, and the number of lines per entry:

![image](https://user-images.githubusercontent.com/26079/109885886-207ae280-7c34-11eb-857e-1c8acf540ce3.png)

[2021-03-03 23:31] coderholic opened #8 "Cat input should default to lookup details"
Eg this should return the details for 1.1.1.1, so default to bulk:

![image](https://user-images.githubusercontent.com/26079/109886578-21f8da80-7c35-11eb-873e-56946c6e57cd.png)

[code]

[2021-03-03 23:35] coderholic opened #9 "A way to get specific fields for ips"
Make it easier to get a single field for IPs.

Eg. if I want to get the hostname for some IPs I need to do this currently:

[code]

It'd be easier for the user to do something like:

[code]

We could support a few key fields, or make a generic jq style lookup key (so hostname, asn.asn, company.type etc)

[2021-03-03 23:36] coderholic opened #10 "Link based authentication / account creation"
CLI currently lets you paste in an existing API token. It'd be awesome if it supported signing up for a new token and creating an account from the CLI. Would need some web changes, and not needed for v1, but we should think through what this flow might look like.

[2021-03-05 02:19] coderholic opened #11 "Set useragent"
Couldn't find anywhere that we're currently setting the user agent.

We should set it to something like `IPinfoCli/$version`. We could include additional system too, so we can track usage across OS etc. The stripe npm package does `uname -a` on the first initialization and adds those details to the useragent (see https://github.com/stripe/stripe-node/blob/c85a597f15a225c3b52f90224b4749ad138a9a8c/l

[2021-03-17 02:00] #11 closed, assigned to nobody

[2021-03-17 02:00] #8 closed, assigned to nobody

[2021-03-17 02:01] #7 closed, assigned to nobody

[2021-03-17 02:01] #6 closed, assigned to nobody

[2021-03-18 04:11] #9 closed, assigned to nobody

[2021-03-18 07:42] #1 closed, assigned to nobody

[2021-03-18 08:22] UmanShahzad opened #13 "man pages for detailed documentation"
There's actually so many features in the CLI so far for different commands that it's not reasonable to lay everything out in the README or in the inlined `-h`/`--help` output.

We should create man pages for individual commands which go into full details of what's possible and which can be accessible in these two ways:

[code]

This is similar to what git does, e.g.:

[code]

Need to also figure o

[2021-03-22 11:26] kennethkhaw opened #14 "no support for x86_64? just tried it on my (Apple MBA 2018) machine but didn't work"
Finally had some time to play around with this @UmanShahzad :)

Ok so i decided to follow the path of a casual user and tried it out with your readme. First thing I noted was..

[code]

what?? no `x86_64` architecture?? hmm.. ok maybe go will just compile to my local arc. lets try just cloning the repository and doing the install. Here is all that I saw:
<img width="348" alt="Screen Shot 2021-03-2

[2021-03-23 11:33] #14 closed, assigned to nobody

[2021-03-24 06:06] kennethkhaw opened #15 "Looking up bogons return blank values but maybe better to explicitly state that?"
Tried looking up  a private IP and here is the result that I got:
<img width="393" alt="Screen Shot 2021-03-24 at 4 57 00 pm" src="https://user-images.githubusercontent.com/4800847/112262779-4d199b80-8cc2-11eb-807d-63b424f1224b.png">
I guess it is expected but  I think it will be better to be more explicit that it is a bogon/private IP or else users might wonder why there are IP address results wi

[2021-03-26 11:06] UmanShahzad opened #17 "Releasing v1"
The package's feature set looks and feels ready for a v1 release. But we need to do the following:

- **Make the repository public.**
- Upload 1.0.0 tag/binaries (currently only beta versions released).

Right after the repo is public, we can:

- Upload to homebrew; we need the repo's public URL to download & install the CLI when homebrew runs.

There may be things you guys have planned @coderholi

[2021-03-26 18:58] coderholic opened #18 "grepip"
Seeing Andrew's tweet just inspired an idea https://twitter.com/Andrew___Morris/status/1375516879351992320?s=03

![image](https://user-images.githubusercontent.com/26079/112679966-047cf200-8e2a-11eb-80b2-b14f32f3373d.png)

I have this alias in my bash:

[code]

but andrew is doing filtering of localhost and bogons. It'd be awesome to wrap this all up into a tiny standalone utility, eg:

`grepip`

[2021-03-31 04:19] coderholic opened #20 "Improve pretty output"
We improved the summary output dramatically in https://github.com/ipinfo/cli/issues/7 but the pretty output for IP and ASN is still super high contrast, and could be improved:

![image](https://user-images.githubusercontent.com/26079/113089898-7001ef00-919d-11eb-9934-cca7ec882634.png)

(oh, actually looks like the ASN output is always raw json)

[2021-03-31 07:45] #15 closed, assigned to nobody

[2021-03-31 08:18] #18 closed, assigned to nobody

[2021-03-31 08:29] UmanShahzad opened #22 "Allow specifying CIDRs+ranges+IPs simultaneously"
Right now we're not allowing specifying CIDRs+ranges+IPs at the same time, e.g. this doesn't work:

[code]

The main reason this was hard to do is because we allow specifying ranges as `<ip_start> <ip_end>`, which is hard to distinguish from 2 normal IPs.

To fix this, just change IP range format to be `<ip_start>-<ip_end>`, and so any `<ip1> <ip2>` form is just 2 IPs.

[2021-04-01 18:55] coderholic commented on #17
We're now public! 🍾

@UmanShahzad best way to make an animated gif of usage? Is there a tool that takes a script / text input, and makes a gif or something?

[2021-04-01 18:57] coderholic commented on #17
https://terminalizer.com/ looks good

[2021-04-02 21:11] UmanShahzad commented on #17
Oh that looks nice, I'll try adding something to the README header area!

[2021-04-06 01:26] UmanShahzad commented on #17
How's this? If you have some other ideas of a workflow lemme know and I can record that.

![render1617672200243](https://user-images.githubusercontent.com/10018065/113645741-e2446900-96a0-11eb-8159-e72e3834e134.gif)

[2021-04-07 23:39] coderholic commented on #17
@UmanShahzad love it! I'd like to include some examples of cat-ing a log into it, and summarizing too. And also doing an example where we lookup the hostnames for a bunch of IPs using the field argument. Might make sense to break these into a few different examples.

[2021-04-09 01:44] UmanShahzad commented on #17
Good idea, I especially agree this would be best to break into multiple GIFs. I'll look to upload some really nice examples over the weekend.

[2021-04-11 04:24] UmanShahzad commented on #17
Added a bunch to the quick-start section: https://github.com/ipinfo/cli#quick-start

Lemme know what to add/del/update!

[2021-04-13 22:17] #20 closed

[2021-04-13 22:18] UmanShahzad commented on #20
Assuming this is good enough 👍

[2021-04-13 22:19] UmanShahzad commented on #17
Will close the issue since v1 is released; the GIFs can be improved at any time.

[2021-04-13 22:19] #17 closed

[2021-04-13 22:21] UmanShahzad commented on #3
Now that the repo is public I'll try to make this available in Homebrew.

Making it available in official Linux distributions is gonna be a *much* harder task, and likely not worth it when you can just `curl` or `wget` the binary, so we probably shouldn't bother.

[2021-04-15 00:34] coderholic commented on #17
@UmanShahzad did you use terminalizer? Do you have the script / input file that can be used to adjust the gif?

cc @st-polina - we should "launch" the cli on twitter whenever there's a free slot (think it's map this week, birthday promo week after, so maybe week after that?)

[2021-04-15 00:44] UmanShahzad commented on #17
@coderholic Oh yes forgot to mention that: all the GIF files & their configs are in https://github.com/ipinfo/cli/tree/master/gif

It's not *that* easy to edit unfortunately, but it can be done and then re-generated.

[2021-04-15 20:07] st-polina commented on #17
@coderholic sounds good!
@UmanShahzad can we have a call next week Thursday or Friday to prepare for the announcement the week after? I have some very noob questions around CLI :D It'd be great to do a blog post and a social media post.

[2021-04-16 07:30] UmanShahzad commented on #17
@st-polina Yes of course, just send me an invite link any time. I think our timezones are fairly close so any time during normal working hours should be good (minus 12pm-2:30pm GMT+5 Friday).

[2021-04-21 10:43] UmanShahzad commented on #3
Well this is annoying: someone already took the name "ipinfo" in the official Homebrew repo: https://github.com/Homebrew/homebrew-core/blob/master/Formula/ipinfo.rb

Not sure what else we could name it. I think we'll need to use a custom "Tap" and put our own formula there.

[2021-04-21 18:20] st-polina commented on #3
@UmanShahzad we use ipinfoio on Twitter as an alternative to ipinfo if it helps :)

[2021-04-22 07:06] UmanShahzad commented on #3
@st-polina We can try that yeah, but the binary's name is actually `ipinfo` so it will conflict with the existing formula which outputs it as `ipinfo` too. There's no requirement that the binary name be `ipinfo` at all though.

At this point I'm just thinking it might be 10x better to just create a single script that the user downloads and it gets automatically run, and then it downloads the appro

[2021-05-04 15:54] mbierman commented on #3
@UmanShahzad i disagree that a script would be better. Homebrew isn’t just the standard for macOS installation. It keeps things up to date complete with dependencies. I run a script regularly to update all my homebrew packages and apps. I personally don’t care if the name is ideal. Having a  homebrew install would be extremely nice.

[2021-05-04 16:09] UmanShahzad commented on #3
@mbierman that's a good point, thanks for the feedback. That mostly settles it then for me, I'd say: let's try to get this on Homebrew even if under a different name.

[2021-05-04 16:14] mbierman commented on #3
Thanks, @UmanShahzad!

[2021-05-04 16:46] gvanem opened #25 "ANSI-colour on Windows"
I probably assume that you assume all consoles on Windows handles
ANSI-sequences. Mine does, but I've turned that off for various reasons.
And I'm now left with this junk output:
[code]

Could someone in 2021 please detect that such codes are effective before using them?
AFAIK, a `GetConsoleMode()` and test for `ENABLE_VIRTUAL_TERMINAL_PROCESSING` should do it.
Ref:  https://docs.microsoft.com/en-

[2021-05-04 16:59] Calinou commented on #25
The coloring is handled by fatih/color, so I doubt the CLI developers have any control over this.

All we could do is obey the `NO_COLOR` environment variable and disable colors if it's set to 1.

[2021-05-04 17:48] UmanShahzad commented on #25
@gvanem I imagine this'd be an issue for any terminal emulator which either doesn't support or has disabled via config the interpreting of these codes. So the solution you're recommending isn't generic enough and we'll likely get another issue later for a different emulator.

I'll just add a flag & `NO_COLOR` env var support as @Calinou mentioned to disable outputting color codes, and you can turn

[2021-05-04 18:03] connected201 opened #26 "Create version for windows"
Hi, please make version for Windows, best regards

[2021-05-04 18:32] gvanem commented on #25
Since I use 4NT as my shell (since 20 years ago). Microsloth's `cmd` is just crap.

[2021-05-04 18:41] glittle commented on #25
Is this related to the "pretty" format?

Apparently that is on by default, and can be turned on with  -p

Is there a way to turn it off?

[2021-05-04 18:43] glittle commented on #25
On a fresh install of Windows 10, I see the ANSI codes.

[2021-05-04 19:11] gvanem commented on #25
Since the VT-emulation is default. But like I wrote, those new VT-console functions messes up my shell big time.

But I tried to modify `vendor\github.com\mattn\go-colorable\colorable_windows.go` to disable this non-sense.
But rebuilding `ipinfo.exe` fails; none of the steps in `README.md` works. Just obscure errors like:
`build github.com/ipinfo/cli/ipinfo: cannot load io/fs: malformed module pat

[2021-05-04 19:21] UmanShahzad commented on #26
There already is a version for Windows: https://github.com/ipinfo/cli/releases/download/ipinfo-1.1.0/ipinfo_1.1.0_windows_amd64.zip

[2021-05-04 19:21] #26 closed

[2021-05-04 19:24] UmanShahzad commented on #25
@glittle No, but if you use json/csv format then no colors will be displayed.

@gvanem Nothing obscure about it. Your golang installation isn't right.

[2021-05-04 20:12] yermulnik commented on #5
Much desirable addition to the great tool of the great service! Thanks!

[2021-05-04 20:14] yermulnik commented on #3
Also please consider adding an option for installation via `go get …`

[2021-05-05 03:44] paulgfrey opened #27 "Support for ARM architecture?"
Just wondering if there are plans to support the ARM architecture.

[2021-05-05 07:49] UmanShahzad commented on #27
We can easily support it, just wasn't initially sure of the demand. Will make it available in the next release.

[2021-05-05 08:20] UmanShahzad commented on #3
@yermulnik It should work already: https://github.com/ipinfo/cli#using-go-get

[2021-05-05 08:32] karlhorky commented on #3
If this works on Windows as well, I would recommend making available on Chocolatey and `winget`.

[2021-05-05 08:47] UmanShahzad commented on #3
It definitely works, and will look into that, thanks!

[2021-05-05 09:00] UmanShahzad commented on #27
Should be available in https://github.com/ipinfo/cli/releases/tag/ipinfo-1.1.1 - let me know if there are issues getting it to work.

[2021-05-05 09:00] #27 closed

[2021-05-05 09:01] UmanShahzad commented on #25
Added support for the `--nocolor` flag and the `NO_COLOR` environment variable in https://github.com/ipinfo/cli/releases/tag/ipinfo-1.1.1

Let me know if there's still any issues.

[2021-05-05 09:01] #25 closed

[2021-05-05 10:33] yermulnik commented on #3
oops, apologies, somehow I missed that bit 🤦  thanks a lot for the pointer 🙇

[2021-05-05 10:37] UmanShahzad commented on #3
@yermulnik Oh no you didn't miss it, I just added it because you mentioned it :) Thanks to you!

[2021-05-05 15:36] hellopablo commented on #3
My suggestion for the homebrew formula name: `ipinfo-cli`; I don't _think_ that _has_ to translate into the binary name. You can [define conflicting formulae](https://docs.brew.sh/Formula-Cookbook#specifying-conflicts-with-other-formulae), too.

[2021-05-05 18:20] mbierman commented on #3
@UmanShahzad please post here when Homebrew is ready and I'll give it a try.

[2021-05-05 18:30] yermulnik commented on #3
+1. I'd like it for both Mac and Linux and can test on both.

[2021-05-06 09:20] pentago opened #28 "Homebrew packages?"
Any chance of making Homebrew packages for MacOS users?

[2021-05-06 12:39] UmanShahzad commented on #28
Yep we're working on it. The issue for this is https://github.com/ipinfo/cli/issues/3.

[2021-05-06 12:39] #28 closed

[2021-05-06 13:40] UmanShahzad commented on #3
Thanks guys, I'll ping you when we have something. I'll try working on getting it on Homebrew one way or another over the weekend.

[2021-05-07 16:46] Joel-Costamagna opened #29 "proxy use"
I have a proxy set up on my machine, with a global http_proxy env variable so i can fetch ipinfo via curl

is there a way to make the ipinfo cli tool go through the proxy?

[2021-05-09 12:39] UmanShahzad commented on #29
Hey @Joel-Costamagna ,

It should automatically work for `https_proxy`/`HTTPS_PROXY`, but I noticed it isn't working for the unsecure version. Will take a look.

[2021-05-09 13:00] UmanShahzad commented on #29
Ah it's because the Go HTTP client library by default only uses the HTTPS proxy env var for `https://` endpoints. Since we always use `https://ipinfo.io/` as the base host, the HTTP-only version of the proxy env var is ignored. This is the same behavior as for curl based off of some local testing I just did.

I guess we can override that behavior if forced (i.e. forcefully make an unsecure connect

[2021-05-09 13:06] Joel-Costamagna commented on #29
hello, it works fine by setting https proxy, thanks for your help

[2021-05-09 13:06] #29 closed

[2021-05-10 01:13] UmanShahzad commented on #3
For anyone with homebrew, please try this and let me know if it works (it works for me on macos & linux):

[code]

ref: https://github.com/ipinfo/cli#macos

[2021-05-10 01:18] UmanShahzad opened #30 "Make binary available via Windows package manager(s)"
Originally tracking this work in #3 but splitting this out as a more specific issue.

Allow users to download and get automatic updates for our binaries via Windows package managers such as:

- Chocolatey
- winget

[2021-05-10 01:18] UmanShahzad opened #31 "Make binary available via Linux distribution package manager(s)"
Originally tracking this work in #3 but splitting this out as a more specific issue.

Allow users to download and get automatic updates for our binaries via Linux distribution package managers such as:

- apt
- yum
- etc

[2021-05-10 11:08] hellopablo commented on #3
Works perfectly on macOS 11.3 👏

[2021-05-10 17:13] mbierman commented on #3
Seems good on macOS 10.15.7.

[2021-05-10 18:02] mbierman opened #32 "Myip only returns core on macOS"
[code]

[2021-05-10 18:08] mbierman opened #33 "Documentation enhancement"
The documentation is unclear.

How to get Json output?
`ipinfo -j myip`  doesn't work.

How to get one field?
`ipinfo -f City myip` doesn't work.

[2021-05-10 18:22] UmanShahzad commented on #3
Thanks a lot for checking guys, going to close this issue and track windows/linux package managers specifically in #30 and #31 respectively.

[2021-05-10 18:23] UmanShahzad commented on #32
@mbierman You need to apply your token via e.g. logging in with `ipinfo login` or using `-t` or `--token` per command.

[2021-05-10 18:25] UmanShahzad commented on #33
@mbierman The flags need to come after the subcommand, which is documented in the usage string:

[code]

So it'd be `ipinfo myip -j`.

For the field, it should be lowercase to match the JSON output, so it'd be `ipinfo myip -f city`. I can add a feature to force lowercase it but that might break in case we have a field that has some uppercase letters, like `exampleField`.

[2021-05-10 18:26] mbierman commented on #32
Doesn't change anything.
bigmac:bin michael$ ipinfo login
Enter token: {entered}
logged in
bigmac:bin michael$ ipinfo myip
Core
- IP           147.**.**.*
- Anycast      false
- Hostname     ***
- City         Santa Clara
- Region       California
- Country      United States (US)
- Location     ***
- Organization AS396097 Sail Internet, Inc.
- Postal       9***
- Timezone     America/Los_Angeles

[2021-05-10 18:27] UmanShahzad commented on #32
@mbierman Then that means your token is only allowed core data specifically. For more data fields you'd need to trial/purchase it on ipinfo.io.

Or if you actually see more data via curl with the same token, then let me know.

[2021-05-10 18:35] mbierman commented on #32
O.K. that wasn't clear from the documentation. Thanks!

[2021-05-10 18:38] UmanShahzad commented on #32
Noted, thanks, will update the README with that somewhere.

[2021-05-10 18:38] #32 closed

[2021-05-10 18:40] mbierman commented on #33
I think it is fine to leave the capitalization. That seems like what I would expect.

It would be great if you could beef up the documentation a little to explain the flags and subcommands though.

[2021-05-10 18:42] UmanShahzad commented on #33
#13 is meant to help with that indeed.

[2021-05-10 18:42] #33 closed

[2021-05-11 13:37] MrSeccubus opened #35 "ipinfo cli crashes when manually entering bulk data"
What I did.

* I typed: `ipinfo bulk`
* I typed `8.8.8.8`
* I pressed `CTRL+D`

What did I expect

The results

What happened?
[code]

[2021-05-11 13:39] MrSeccubus commented on #35
Workaround
[code]

[2021-05-11 13:40] MrSeccubus commented on #35
Another one that doesn't work:
[code]

[2021-05-12 03:21] coderholic commented on #3
Not a smooth install for me...

[code]

After doing the xcode-select install it worked...

[code]

How can we have it "installed from bottle"? And ideally it should be possible to `brew install ipinfo-cli` instead of needking to know about our tap. How can we get that setup @UmanShahzad ?

[2021-05-12 10:40] UmanShahzad commented on #3
@coderholic Installing from a "bottle" means installing the binary directly without a build step, but that means doing a ton of CI for lots of different macos versions (and linux for linuxbrew users) to auto-build and auto-update the SHA-256 checksums of each binary for each platform, and upload them to github (this has some other complications - it's not a github "release" like we do in this repo

[2021-05-12 11:54] UmanShahzad opened #36 "Make binary available via DockerHub"
Allow users to download a docker image from DockerHub which contains the CLI, and then run a container using that image as a one-off execution.

[2021-05-12 12:13] UmanShahzad commented on #35
Solved in https://github.com/ipinfo/cli/releases/tag/ipinfo-1.1.2

[2021-05-12 12:13] #35 closed

[2021-05-12 12:23] yermulnik commented on #3
JFYI: have just successfully upgraded `ipinfo-cli` from `1.1.1` to `1.1.2` on both MacOS and Linux 🥳

[2021-05-12 18:42] UmanShahzad commented on #3
@yermulnik Good to know that upgrades are working as intended, thank you!

[2021-05-13 17:36] jnoc commented on #30
Could I also suggest `scoop` thanks!

[2021-05-13 19:34] UmanShahzad commented on #30
@jnoc When I get started on this I'll definitely give that a look, thanks!

[2021-05-14 00:06] coderholic opened #37 "Range / CIDR conversion utility"
Another utility that it'd be great to add to the cli is the ability to convert from cidr to start,end ranges. We commonly do this internally at IPinfo, and our customers sometimes need to do it with our data exports too.

Eg. input:
1.1.1.0,1.1.1.255,other data

Output:
1.1.1.0/24,other data

And vice versa. Should probably support a different range sepator too (eg. 1.1.1.0-1.1.1.255).

[2021-05-14 10:30] UmanShahzad commented on #37
I think we have almost all the base code needed to do this already so that should be good!

[2021-05-14 11:06] UmanShahzad commented on #3
Made https://github.com/Homebrew/homebrew-core/pull/77280 to try and get this into the official tap now.

[2021-05-14 13:11] UmanShahzad commented on #37
Any idea for the name of a tool like this? This would also be the subcommand.

Some ideas:

- `cidrconvert`
- `cidrconv`
- `cc`

[2021-05-14 13:12] UmanShahzad commented on #37
Or two tools that do each separately:

- `cidr2range`
- `range2cidr`

[2021-05-14 15:33] UmanShahzad commented on #22
This will be available in v2 when released (aiming end-of-month?).

[2021-05-14 15:33] #22 closed

[2021-05-14 15:45] UmanShahzad opened #39 "Refresh some README gifs"
Before we release v2 with more features, we should refresh some of the README gifs because more subcommands have been added since the first gifs were created, and some subcommands got more features e.g. https://github.com/ipinfo/cli/issues/22

[2021-05-16 06:26] UmanShahzad commented on #3
Now available on the official homebrew tap:

[code]

Will get the remaining formulas up there as well e.g. for `grepip`.

[2021-05-16 11:02] yermulnik commented on #3
:+1: Anything we should do to adhere to this change? Like re-installing?

[2021-05-16 11:20] UmanShahzad commented on #3
@yermulnik You'll automatically get migrated to the official version, nothing special to do! Just use `ipinfo-cli` instead of `ipinfo/tap/ipinfo-cli` whenever you upgrade.

You can remove the old tap if you don't want it: `brew untap ipinfo/tap`

[2021-05-16 11:28] yermulnik commented on #3
Got that! Thanks @UmanShahzad
Will keep the old tap unless you've got `grepip` moved to the official brew formulaes repo. Or even for any new tool you may add to it in future =)

[2021-05-16 11:31] UmanShahzad commented on #3
Yes sure, will notify when `grepip` is on Homebrew, then will close this issue.

https://github.com/Homebrew/homebrew-core/pull/77397 is the PR for grepip.

[2021-05-16 14:44] mbierman commented on #3
Thank you @UmanShahzad !

[2021-05-17 20:02] coderholic commented on #37
Yeah I like 2 tools named cidr2range and range2cidr

[2021-05-17 20:04] UmanShahzad commented on #37
Great, those names might also be easier to get & discover on distribution repos like homebrew/apt.

[2021-05-19 07:14] UmanShahzad opened #41 "File-based cache"
We should implement a file-based cache with a relatively low TTL so that users can save on their quota for repeatedly asking for the same data, especially in batch operations.

[2021-05-19 17:53] coderholic opened #42 "ASN input returning an error"
Reported via twitter: https://twitter.com/philBE2/status/1395060460127494147

[code]

https://ipinfo.io/AS15169 is a legit ASN

[2021-05-19 19:00] UmanShahzad commented on #42
The ASN API requires a token, so it's returning a 401 because of not being authorized.

Similar to the batch issue (https://github.com/ipinfo/cli/issues/35) - will make the error more graceful so the user knows to enter their token.

[2021-05-19 19:26] UmanShahzad commented on #42
Fixed by https://github.com/ipinfo/cli/commit/05ff7d64342c14984f38ffc909ea8e6e4c001303 and released in https://github.com/ipinfo/cli/releases/tag/ipinfo-1.1.4

[2021-05-19 19:26] #42 closed

[2021-05-20 09:21] UmanShahzad commented on #3
If you are using grepip then this should work going forward:

[code]

[2021-05-20 09:21] #3 closed

[2021-05-20 10:03] yermulnik commented on #3
Thank you @UmanShahzad !

[2021-05-20 20:31] UmanShahzad commented on #5
Hmm turns out even the package I mentioned isn't really meant for public use. I'm forking the original project into https://github.com/ipinfo/complete and working on modifying it to work with the POSIX flag format.

[2021-05-20 22:52] mbierman opened #43 "error"
[code]

[2021-05-20 23:16] UmanShahzad commented on #43
Sorry about that, missing comma! Should be fixed now.

[2021-05-20 23:16] #43 closed

[2021-05-21 15:41] UmanShahzad commented on #37
@coderholic A question about ranges that don't split nicely into a single CIDR:

What to do about a range like `1.1.1.0,1.1.1.2` which really requires 2 CIDRs `1.1.1.0/31` and `1.1.1.2/32`? (Obviously the other way around is not a problem.)

[2021-05-21 15:43] UmanShahzad commented on #37
Just print both, and if so with a comma delimiter between them? Or skip these cases by default with a flag to force outputting multiple CIDRs if necessary?

[2021-05-21 17:14] UmanShahzad commented on #5
This will be released in v2 which should be out next week, hopefully.

[2021-05-21 17:14] #5 closed

[2021-05-21 22:55] UmanShahzad commented on #37
For reference, we had a chat and the answer is if we encounter input like:

[code]

we'd output the 2 CIDR result as:

[code]

i.e. copying the surrounding data per CIDR.

[2021-05-26 08:59] UmanShahzad commented on #37
This'll be available in the v2 release fairly soon. Just wrapping it up.

[2021-05-26 08:59] #37 closed

[2021-05-26 08:59] UmanShahzad commented on #37
When it's released, if there are any other issues let's make new issues for it.

[2021-05-26 10:20] UmanShahzad opened #46 "Fix README to show other binaries as well"
As we add more binaries, we should make it easier to discover them from the README, but without sacrificing the spotlight provided to the `ipinfo` binary specifically. Right now there's little to no indication that anything besides `ipinfo` exists, unless you look at the releases yourself or look at the code.

[2021-05-26 14:06] yermulnik commented on #37
Are there Hombrew tap issues to track progress on adding `cidr2range` and `range2cidr`? I can't see these in https://github.com/ipinfo/homebrew-tap so assumed you've gone with adding them to Homebrew tap at once.

[2021-05-26 18:08] UmanShahzad commented on #37
I'll make PRs for getting these on the official homebrew tap tomorrow my time, yes. No point really adding them to the IPinfo tap at this point since it'll be replaced pretty quickly I reckon, given the good feedback we got from the homebrew guys on the previous stuff.

[2021-05-27 06:52] UmanShahzad commented on #37
Made PRs for Homebrew:

cidr2range: https://github.com/Homebrew/homebrew-core/pull/78164
range2cidr: https://github.com/Homebrew/homebrew-core/pull/78166

[2021-05-27 17:23] yermulnik commented on #37
Awesome :partying_face: Thanks a lot!

[2021-05-27 17:28] yermulnik commented on #5
`ipinfo --help` is missing bits re shell completion — is this by design?

[2021-05-27 17:58] UmanShahzad opened #47 "Include flags in auto-completion along with subcommands"
Flags like `ipinfo --help` or `ipinfo -h` are not getting suggested in auto-completion; only the subcommands are.

This is a bug in the completion fork we made: fix it to ensure it recommends flags along with subcommands in such a context.

[2021-05-27 17:58] UmanShahzad commented on #5
It's actually there but seems that a bug in the completion library fork causes subcommands to be recommended only instead of the flags. Will look into fixing that. https://github.com/ipinfo/cli/issues/47

[2021-05-27 18:02] yermulnik commented on #5
Apart from the bug you mentioned I mean that help message doesn't list `completion` as a subcommand:
[code]

[2021-05-27 19:56] UmanShahzad commented on #5
Oh thanks for catching that, you're right. https://github.com/ipinfo/cli/commit/0c1acc6e5be1c8f057ca61bb09f9570fb7be5d7c solves it and I'll try to release a 2.0.1 with the fix.

[2021-05-27 20:02] UmanShahzad commented on #5
https://github.com/ipinfo/cli/releases/tag/ipinfo-2.0.1 and will be on homebrew soon.

[2021-05-27 20:05] yermulnik commented on #5
Marvelous! Thank you @UmanShahzad :bow:

[2021-06-04 00:48] UmanShahzad opened #49 "Make `-f`/`--field` auto-completion work for `<ip>` and `<asn>` subcommands"
Those flags currently properly auto-complete for e.g. `myip`, `bulk`, etc., but we currently aren't able to easily specify that completion must occur for the raw IP / ASN subcommands.

Find a way to make this work and implement that.

[2021-06-05 06:18] #46 closed

[2021-06-08 12:49] kamilmirza opened #52 "ability to resolve FQDN"
is there any option to get ipinfo of a domain name?
suppose `ipinfo google.com`
would be very much useful with DDNS domains

[2021-06-08 12:59] UmanShahzad commented on #52
Yeah we can implement that, but it would use the user's local DNS setup to resolve the domain, rather than for example make a request to ipinfo.io to do that.

[2021-06-09 03:41] coderholic commented on #52
I'm not sure there's a compelling use case to build this in - you can just do it with this, which makes it clear where the lookup is happening:

[code]

[2021-06-09 06:37] UmanShahzad commented on #52
Yeah the part about not knowing for sure, or not being able to control fully, where the IP of the domain is retrieved from kind of reduces the value of this: DNS servers will for example give different IPs via round-robin, geolocation, caching, and possibly more context. If we were to do the DNS lookup on the servers, for example, the results will usually be very different than if done on the clie

[2021-07-21 11:40] UmanShahzad opened #53 "Deal with IPv6 format ranges & CIDRs for range2cidr and cidr2range"
Currently these tools crash if they encounter ipv6 forms.

[2021-08-16 13:30] #53 closed

[2021-08-16 13:31] UmanShahzad commented on #53
This will be released in `ipinfo v2.1.0` and `v1.1.0` for `cidr2range` and `range2cidr`.

[2021-08-16 13:31] UmanShahzad commented on #53
This will be released in `ipinfo v2.1.0` and `v1.1.0` for `cidr2range` and `range2cidr`.

[2021-08-16 17:18] UmanShahzad commented on #52
We can maybe add a simple version of this under a subcommand `fqdnip` (FQDN IP, similar to `myip` "My IP"), e.g. `ipinfo fqdnip google.com`. We would just do the DNS lookup and hand it over to the work that `ipinfo <ip>` is doing.

[2021-08-16 17:19] UmanShahzad commented on #53
A fix for `cidr2range` not working on argument line inputs will be available in the next patch release, which is currently uploading.

[2021-08-26 23:59] UmanShahzad opened #56 "Bulk ASN"
Right now we don't support looking up ASNs in bulk, but it's a useful feature to have.

In the process, we should actually support mixing together IPs & ASNs in one bulk lookup, by default.

And as a further improvement to the API, we should deprecate the `bulk` subcommand and allow automatically looking up things in bulk via e.g. `ipinfo 1.1.1.1 8.8.8.8` if the number of inputs is more than 1.

H

[2021-09-20 22:49] eacp opened #57 "Non-informative incorrect behaviour when using bad token (at least on windows x64)"
The cli says the login was successful whether the token is valid or not.

Steps to reproduce:

`ipinfo login`

Write any random string. The CLI does not validate it. It will say the token was configured.

`ipinfo 1.1.1.1`

The CLI informs the credentials and the token is incorrect, even though the `login` subcommand previously informed the token is correct.

[2021-09-20 22:51] eacp commented on #52
The dig command is not part of windows.

[2021-09-20 22:51] eacp commented on #52
I can make a pull req for that. Or maybe insert such behaviour as a special case in the normal ipinfo command

[2021-09-20 22:55] coderholic commented on #52
You can get dig for windows: https://docs.digitalocean.com/products/networking/dns/resources/use-dig/

I think nslookup comes bundled though

[2021-09-20 22:55] coderholic commented on #57
Thanks for flagging this. The login command should definitely confirm it's a valid token by making a requests.

[2021-09-21 03:26] UmanShahzad commented on #57
Would we wanna check against the normal, core API, or introduce a new API for this just to check token validity? (with rate limits to prevent brute force token enumeration)

[2021-09-21 03:28] UmanShahzad commented on #52
I guess if you made a PR I would be open to accepting it, but we should add a disclaimer in the subcommand description (in its `-h` message) that the IP looked up may not be the IP others around the world see for the same domain, that it may be cached, etc.

[2021-09-21 03:31] eacp commented on #52
@UmanShahzad another important consideration is that dns servers might give different IP addresses depending on the geographic location for distributed applications, like CDNs. Still, the CLI could emulate the behaviour of commands such as `ping` or `traceroute`, which automatically solve the ip address when using domain names.

[2021-09-21 03:32] eacp commented on #57
@UmanShahzad one option would be to just make a request with the input token and look for errors. Like checking the client's IP.

[2021-09-21 03:33] UmanShahzad commented on #52
Yes this is the point I had in mind when mentioning that others around the world may not see the same IP  for the same domain, because some globally distributed dns servers will return the IP of the server closest to your location.

[2021-09-21 03:35] eacp commented on #52
Some sort of warning could be displayed if neccesary.

[2021-09-21 03:36] UmanShahzad commented on #52
I recommended:

[2021-09-21 03:39] eacp commented on #57
True. If that quota is really a concern, we could have tokens signed with a HMAC or could addapt the site to generate [JWTs](https://jwt.io/), wich are already signed. The CLI could contain the public key and the server could sign them with a private key using asymetric cryptography, like RSA or ECDSA. However, I imagine changing the entire process for generating tokens might be overkill if we jus

[2021-09-21 03:40] eacp commented on #52
I agree with such reccomendation

[2021-09-21 03:41] UmanShahzad commented on #57
That is definitely overkill. Introducing an API that returns "true" or "false" for a token's validity sounds easier.

I'll get on it next week.

[2021-09-21 03:43] coderholic commented on #57
You can hit /me to check if the token is valid without using quota

[2021-09-21 03:45] eacp commented on #57
I think a new API wouldn't even be neccesary. You could check a random IP address, or `myip` and check if there are any auth errors.

[2021-09-21 03:48] UmanShahzad commented on #57
@coderholic Ah I was thinking we never properly publicized that API, but if you're okay with it then let's use that.

@eacp If the token was valid in that case, it would use up quota, going back to the original issue.

[2021-09-21 04:21] eacp commented on #57
So, should I make a PR to use the /me api?

[2021-09-21 04:23] UmanShahzad commented on #57
@eacp If you could that'd be great!

[2021-09-21 15:21] eacp commented on #57
@UmanShahzad Done https://github.com/ipinfo/cli/pull/58

[2021-09-22 05:52] UmanShahzad commented on #52
@eacp Definitely a subcommand as `fqdnip`, not `domain`. But I'll handle this one, no worries.

[2021-09-22 06:56] wasi-master commented on #25
You can see [this comment on stackoverflow](https://stackoverflow.com/questions/16755142/how-to-make-win32-console-recognize-ansi-vt100-escape-sequences#comment92954461_16799175) to enable ANSI escape sequences in the windows terminal, I tried this myself and it works. I think this should be in the readme

[2021-09-22 07:27] kamilmirza commented on #52
or it can be `fqdninfo`

[2021-09-22 08:11] UmanShahzad commented on #52
`fqdninfo` or `domain` both sound like they're giving domain-specific information, which is something IPinfo provides. But this command isn't doing that so such names aren't the best choice.

[2021-09-22 08:23] UmanShahzad commented on #25
@wasi-master Interesting, can you make a PR?

[2021-09-22 13:02] eacp commented on #52
@UmanShahzad  IMHO, it would be more intuitive if the CLI replicated the behaviour of ping and traceroute: use the ip as given by the user, and IF the user entered a FQDN, solve the IP address and use that IP address.

[code]

Notice how I was allowed to just type `github.com` instead of an IP address.

[2021-09-22 18:46] coderholic commented on #52
@eacp that's an interesting idea. I think I actually prefer the idea of supporting `ipinfo $domain` and returning the details for the IP that domain resolves to, rather than having a separate ip resolution command, which feels out of scope for the cli.

[2021-09-23 03:57] UmanShahzad commented on #52
Alright we've finalized on going with the `ipinfo $domain` model. I'll implement this soon and include it in https://github.com/ipinfo/cli/pull/59.

Thanks for all your inputs!

[2021-09-25 03:03] wasi-master commented on #25
@UmanShahzad PR with what exactly? editing the readme to include this?

[2021-09-25 05:45] UmanShahzad commented on #25
@wasi-master Yes, if you want.

[2021-09-26 17:19] wasi-master commented on #25
I think I'll just wait till https://github.com/ipinfo/cli/pull/24 is merged

[2021-09-29 13:48] eacp commented on #41
Would you like the cache to be stored at a specific location on disk?

Would you like to create a single file per ip (like 1.1.1.1.txt or 1.1.1.1.json)  or a single cache file for ALL?

What can of serialization would you like for on-disk storage? JSON? Binary (gob)? Plaintext?

[2021-09-29 14:40] UmanShahzad commented on #41
It would most likely be an implementation of the cache interface from the IPinfo Go SDK using BoltDB or similar as a single file database, and supporting TTLs & LRU eviction.

How do you support TTLs+LRU on a file-based cache?

TTL: lazy deletion; each entry has an expiry date attached to it, and when the entry is retrieved and it is determined that the expiry has passed, it is deleted and a cache

[2021-09-29 14:45] UmanShahzad commented on #41
Another much simpler strategy, which wouldn't be too bad given the size of disks these days and how unnoticeable caches are to people (I'm shocked whenever I look at the size of cache folders that the apps I use get away with), we could just say: keep filling & using the cache until it's full, then dump it and start again; dump it forcefully every 24 hours as a "global" TTL.

[2021-09-29 14:49] eacp commented on #41
@UmanShahzad I believe the second approach would be easier to implement. We just have to decide how to get the appropiate folder depending on the plattform and write json files to it. The lib can already parse JSON

[2021-09-29 14:52] UmanShahzad commented on #41
@eacp We shouldn't write JSON files, because it would require a full re-write. Some people have done that but it's a terrible idea past like 100MB.

[2021-10-15 17:25] T145 opened #61 "[feature/grepip] Provide an option to match CIDR blocks and IP ranges"
Presently the utility would just return an IP defined at the start of a CIDR block or the IPs on either end of an IP range.

It would be great to have options that match these formats, or have such a functionality be the default.

[2021-10-15 17:41] UmanShahzad commented on #61
Yeah it'd be great for sure. Will keep it in mind.

[2021-10-16 04:24] T145 opened #62 "[bug]: runtime error: index out of range [3] with length 0"
[code]

[2021-10-17 19:58] UmanShahzad commented on #62
@T145 thanks for the report. Can you show the command you ran to hit this case?

[2021-10-17 20:09] T145 commented on #62
I'm not sure exactly. It was generated while running [Black Mirror](https://github.com/T145/black-mirror), and could've been from any list contents. List output got piped into `grepip -4xo` or `grepip -6xo` for respective IPv4 and IPv6 content to filter bogons and such as testing.

[2021-10-17 20:19] UmanShahzad commented on #62
Alright it seems it'd only happen if the regex we use internally did not actually select a proper IP (I can see that our v4 regex is too loose and accepts e.g. `999.999.999.999`), but we assume it is and pass it over to an IP string parser which then returns nil, and that nil goes down and causes issues because it's unexpected.

Will fix this in the next release which should be this week.

[2021-10-17 21:02] T145 opened #63 "[feature]: Create an executable "grepdom" that can match domains"
Similar to `grepip`, but for domains! Would convert to punycode by default (https://pkg.go.dev/golang.org/x/net/idna), but could be passed `-np` to avoid the processing.

[2021-10-19 10:46] UmanShahzad opened #64 "Allow disabling cache"
Allow toggling the cache on or off, globally or per run.

This requires saving the setting in a file somewhere. We should use boltdb to store all settings, including the token, as a key/value pair.

[2021-11-11 06:30] UmanShahzad opened #69 "Make `prips` subcommand as a separate binary too"
It'd be useful as a separate one and costs little to nothing for us to make it so.

[2021-11-14 03:25] T145 opened #71 "[Bug]: Certain IPv6 addresses are not being recognized"
Examples include:
[code]

[2021-11-14 03:44] T145 commented on #71
Error log:
[code]

[2021-11-14 08:48] UmanShahzad commented on #71
The currrent ipv6 regex seems to have issues properly parsing compressed IPv6 forms where the compression happens in the middle (but works fine if in the start or end). But after some testing it turns out the issue is not with the regex itself but that we were not using the POSIX version of the regex parser. Using that fixes things.

However the error log you shared doesn't happen for me when run

[2021-11-14 09:11] UmanShahzad commented on #71
The fix for the ipv6 case is live now on `grepip` version 1.2.1 and `ipinfo` 2.4.1.

[2021-11-14 18:41] #71 closed

[2021-11-16 02:58] T145 opened #73 "Another IP error using GrepIP, but this one isn't super critical"
[code]

[2021-11-16 03:00] UmanShahzad commented on #73
@T145 can you give an input line that caused this?

[2021-11-16 03:01] T145 commented on #73
No unfortunately, otherwise I would.

[2021-11-16 03:07] UmanShahzad commented on #73
Alright please be on the lookout for what that input might be. I have no idea how to replicate the issue and debug it.

[2021-11-17 08:32] UmanShahzad opened #74 "Add `--unique, -u` option to `randip`"
Allow generating only unique random IPs with the `--unique, -u` flag.

This requires making a `map[u32]struct{}` to store all the IPs we've seen so far and which we can access fast to check for uniqueness on the following generations.

Of course the limitation here is it'll consume a lot of memory for a huge number of desired generations, but that use case should be rare and presumably the host ma

[2021-11-17 20:34] UmanShahzad commented on #69
Closed by https://github.com/ipinfo/cli/pull/75

[2021-11-17 20:34] #69 closed

[2021-11-19 13:37] UmanShahzad commented on #74
Closed by https://github.com/ipinfo/cli/pull/76.

Will be available in 1.1.0.

[2021-11-19 13:37] #74 closed

[2021-11-19 18:11] UmanShahzad commented on #31
FYI that we're working on this next. Currently trying to get into the Ubuntu repo only, which is hard enough as is, so we may not try to get into all the others unless we can get some open source contribs to help with that.

[2021-11-22 05:21] UmanShahzad commented on #73
I'm going to close this issue for now as it's not really actionable - will need a way to replicate the problem, after which there'll be a clear path to a solution. If you do find any input that can clearly cause this please share it. Thanks!

[2021-11-22 05:21] #73 closed

[2021-11-23 07:06] rm-Umar opened #77 "Not creating ipinfo folder by default"
Installing the program is not creating `ipinfo` folder inside `.config` folder by default that results a cache error
[code]

[2021-11-23 07:07] rm-Umar commented on #77
To replicate error you can rename/delete you `~/.config/ipinfo` folder

[2021-11-23 09:24] UmanShahzad commented on #77
https://github.com/ipinfo/cli/pull/78 will fix it.

[2021-11-23 10:41] #77 closed

[2021-11-26 04:58] UmanShahzad commented on #31
Ok we're in Ubuntu: https://github.com/ipinfo/cli#ubuntu-ppa

Will not try to enter the rest as this was already really hard to do properly and complicates our release process a lot. Will need open source contributors to make us available via distro-specific package management for other linux distros.

[2021-11-26 04:58] #31 closed

[2021-11-26 05:03] UmanShahzad commented on #30
@rm-Umar can you check the feasibility of this? Please first just share your findings on how one achieves getting into some of these package managers. If there's any easy wins we should  take  those. Otherwise let's consider an auto-updating model built into the CLI itself going forward.

[2021-11-26 05:05] UmanShahzad commented on #36
@rm-Umar when you get a chance, could you check the feasibility of this too? I think DockerHub changed some policies around free accounts and I can't recall what it is, but if it's easy/possible for us to upload docker images to DockerHub that allow executing our `ipinfo` binary, that would be a nice quick add.

[2021-11-26 05:06] UmanShahzad commented on #39
@rm-Umar not the most urgent issue but our README gifs are getting out-of-date. Re-generating them with a similar style would be nice.

[2021-11-26 05:22] rm-Umar commented on #30
I was also thinking about scoop as many of the cli tools use that but let me see what I can do.

[2021-11-28 06:22] UmanShahzad commented on #30
We discussed this and considering WinGet is the official Microsoft one, sounds most reasonable to first try here.

[2021-11-28 09:05] rm-Umar commented on #30
Yup as we discussed already we'll go with Winget

[2021-11-29 15:06] eacp opened #82 "[feature] Command to show quota. (possible using the /me endpoint)"
Sometime ago, I used the /me EP to validate the token during auth. The /me EP actually returns usefull quota information, but at this point it is not used.

I propose a command that displays the quota information.

[code]

Or something similar. The design is pending.

[2021-11-30 03:33] UmanShahzad commented on #82
Yeah a `quota` subcommand would be nice. But we probably need a different endpoint for this as the existing one gives potentially confusing data, like when it says `limit`/`remaining`, what does that mean - is that for `core`, `asn`, or what?

I'll figure smth out for this later, thanks for the suggestion!

[2021-11-30 04:09] UmanShahzad commented on #64
Note that this probably requires creating a new bucket. That way, when we want to clear the cache, we can simply delete a special "cache" bucket.

So really I'm thinking we need two total buckets right now:

- `cache`
- `settings`

We are also calling the file `cache.boltdb` atm; we should rename to `cli.boltdb` as a generic name.

@rm-Umar Can you take this one on next?

[2021-11-30 05:52] UmanShahzad commented on #36
It's now available: https://hub.docker.com/u/ipinfo

[2021-11-30 05:52] #36 closed

[2021-12-01 02:08] UmanShahzad commented on #64
@rm-Umar generally we should close the issue after it's actually solved (i.e. the relevant PRs/etc are merged). In Github we can automatically do this by putting "Closes <issue link>" in the PR text, so when the PR merges, Github auto-closes this issue.

I've done that for your PR https://github.com/ipinfo/cli/pull/83 right now, and so you can do this yourself in the future.

[2021-12-01 07:31] rm-Umar opened #84 "Add token into config file"
store token inside the `~/.config/ipinfo/config.json` file and allow to configure it using ```$ ipinfo config token=<tok>```

[2021-12-08 07:11] UmanShahzad opened #85 "Quote fields when printing csv form for bulk results"
This returns really messed up CSV output because the fields aren't quoted:

[code]

[2021-12-08 12:47] #64 closed

[2021-12-08 12:47] #84 closed

[2021-12-08 12:50] UmanShahzad commented on #64
Will be available in 2.7.0.

[2021-12-08 12:50] UmanShahzad commented on #84
Will be available in 2.7.0.

[2021-12-21 08:18] #39 closed

[2022-01-04 13:42] UmanShahzad opened #88 "Dont cache `myip`"
We seem to be caching `myip` by default from what I can tell, which is probably not what we want almost ever, because using that command you're explicitly looking to see what your current IP is, which may have changed.

[2022-01-14 03:34] eacp opened #90 "Bulk domain names in the bulk command"
I would like to use domain names directly in the bulk command, like `ipinfo bulk 1.1.1.1 github.com`

I actually made a PR for this in https://github.com/ipinfo/cli/pull/89.

[2022-01-31 14:36] Mshael9 commented on #90
#89

[2022-02-02 22:47] 238SAMIxD opened #91 "Installing on Raspberry Pi with armhf architecture"
Hello, I have a Raspberry Pi 3B with 1.2GHz processor and 1GB of RAM. The architecture is armhf so installation methods don't work. Is it a way to install it on my device?
Greetings

[2022-02-03 01:33] UmanShahzad commented on #91
We can only support what Golang supports:

[code]

If you know that one of these would work for your platform then do lemme know.

[2022-02-03 05:07] eacp opened #92 "[feature] Allow comments in text files and inputs"
Lets say I have a file with some IP addresses, lets call it ips.txt
[code]

Right now, if I execute `ipinfo bulk ips.txt` I only get

[code]

IDK why it stops at the SECOND comment tho.

It would be interesting to allow files (and inputs from stdin or a pipe) to have comments. It could be ANY syntax for comments,
but the  `#` sign is already familiar to multiple developers. Granted, you COULD pipe

[2022-02-03 05:08] #92 closed

[2022-02-03 05:11] eacp opened #93 "[feature] Allow whitespaces in files and inputs"
Currently, the program stops reading files when it encounters a new line, like on this file:
[code]

The program prints the following
[code]

It would be nice to allow for empty lines for separation. We already allow for comments.

[2022-02-03 16:11] UmanShahzad commented on #93
Yeah I think that's a mistake, it shouldn't cancel out after seeing an empty line. Fix: https://github.com/ipinfo/cli/pull/94

[2022-02-03 16:11] #93 closed

[2022-02-06 22:25] elbarbudo commented on #88
You are right ! It is confusing because I start and stop a VPN and used ipinfo myip to check the connection..
My previous command was curl -Ss -w '\n' https://ipinfo.io?token=xxxxxxxx and I expected that ipinfo myip gives me the same result, which is NOT the case.

[2022-02-18 03:32] #91 closed

[2022-02-21 15:33] Mshael9 opened #95 "For both iOS/iPadOS and macOS"
For both iOS/iPadOS and macOS

__Originally posted by @TETRA2000 in https://github.com/TETRA2000/DNS-Configurator/issues/17__

[2022-02-21 16:41] UmanShahzad commented on #95
What is the ask? To make it available on these platforms?

[2022-03-24 14:25] whoisroot opened #97 "Accept requests via IPv6"
The service already returns information when queried about IPv6 addresses, but only accepts requests over IPv4. It would be useful if the `myip` command returned IPv6 addresses.

I tried querying the API via IPv6 with cURL, but the domain does not have an _AAAA_ record on the DNS.

Sometimes IPv6 routes are different from IPv4 ones and faster. This could also help to ease the adoption of IPv6 glob

[2022-03-25 13:00] UmanShahzad commented on #97
@whoisroot can you try against `v6.ipinfo.io`?

[2022-04-08 06:36] 0144k opened #98 "0531.722.13.04"
[image](https://user-images.githubusercontent.com/93407710/162378286-acfbfc58-1a57-422e-b08d-42b1fa31198d.jpeg)

[2022-04-08 06:36] #98 closed

[2022-04-08 06:37] 0144k opened #99 "[image](https://user-images.githubusercontent.com/93407710/162378286-acfbfc58-1a57-422e-b08d-42b1fa31198d.jpeg)"
Ö@

[2022-04-08 06:38] #99 closed

[2022-04-11 14:35] diwusec opened #100 "GET https://ipinfo.io/AS3549: 401 { }"
when i run
diwusec@lol:~$ ipinfo AS3549
err: GET https://ipinfo.io/AS3549: 401 { }

i get this error and i have loged in using token also

[2022-04-11 15:25] diwusec commented on #100
i have the latest version installed using go in ubuntu

diwusec@lol:~$ ipinfo version
2.8.0

and i signed up suing my gmail, after loging in i got a dashboard site, i opened dev tools and used console to get my token

i logged using this token : "IPinfoToken"

like this :

diwusec@lol:~$ ipinfo login
Enter token:
logging in...
done

[2022-04-11 16:19] UmanShahzad commented on #100
Ah yes, alright, makes sense. The issue is that the ASN API cannot be queried with a 'free' token. You'd have to purchase a plan that gives you ASN data, like the Basic plan - https://ipinfo.io/pricing

[2022-04-11 16:19] #100 closed

[2022-04-11 16:21] UmanShahzad opened #101 "Show more clear error when token cannot query some API"
If we get a 401 due to using a token that doesn't have permissions for that API, we should show a better error. Here's what we currently show:

[code]

We should show an error similar to the one shown when you have no token at all:

[code]

[2022-04-11 16:22] #97 closed

[2022-04-11 18:05] diwusec commented on #100
oh actually i saw the github ipinfo where they had mentioned only about free token, which i thought it is free
 Get your token for free at https://ipinfo.io/signup i got this wrong

[2022-04-11 18:07] diwusec commented on #100
sorry for reporting this as an issue and thanks for your time

[2022-04-11 18:16] UmanShahzad commented on #100
Ah ok. No worries and thanks!

[2022-04-17 13:35] thamet commented on #97
https://github.com/ipinfo/cli/issues/97#issue-1179594438

[2022-04-17 13:36] thamet opened #102 "@whoisroot can you try against `v6.ipinfo.io`?"
@whoisroot can you try against `v6.ipinfo.io`?

_Originally posted by @UmanShahzad in https://github.com/ipinfo/cli/issues/97#issuecomment-1079004972_

[2022-04-17 13:37] thamet commented on #102
![C7865566-EFB2-415D-BC46-0E5151495124](https://user-images.githubusercontent.com/17997380/163716753-b04f17cb-0474-49bc-9b71-a5819e5e60be.jpeg)

[2022-04-17 13:48] #102 closed

[2022-04-18 11:42] 0144k opened #103 "Its a leagl state, that listenerThread is null."
Its a leagl state, that listenerThread is null.
In your sequence listener.Stop() would not be called.
It would be better to just handle the listenerThread inside the if-block.
[code]

__Originally posted by @vanatic in https://github.com/openhardwaremonitor/openhardwaremonitor/pull/1343#discussion_r841883012__

[2022-04-18 11:42] 0144k opened #104 "Its a leagl state, that listenerThread is null."
Its a leagl state, that listenerThread is null.
In your sequence listener.Stop() would not be called.
It would be better to just handle the listenerThread inside the if-block.
[code]

__Originally posted by @vanatic in https://github.com/openhardwaremonitor/openhardwaremonitor/pull/1343#discussion_r841883012__

__Originally posted by @0144k in https://github.com/ipinfo/cli/issues/103__

[2022-04-18 12:29] #103 closed

[2022-04-18 12:29] #104 closed

[2022-04-25 06:43] binglin1009 opened #105 "output error"
when running command on Windows, the output is unreadable, I think the reason is that Chinese is not supported. So, will it support Chinese in future?
![ipinfo](https://user-images.githubusercontent.com/58156930/165034392-512ba509-11e3-4c3f-93a9-1163e03e0e00.jpg)

[2022-04-25 13:22] UmanShahzad commented on #105
@binglin1009 this is not Chinese. Those characters are color codes. The Windows terminal you're using doesn't support them, and ends up printing the raw textual form of them which looks like gibberish.

See https://github.com/ipinfo/cli#color-on-windows to help enable it. If it doesn't work you can also disable it - see https://github.com/ipinfo/cli#disabling-color-output

[2022-04-25 13:22] #105 closed

[2022-04-26 05:57] eacp commented on #82
@UmanShahzad  I have this proposal:

Either allow parameters in the quoata command to let the user choose WHAT to use, or default to core

[2022-05-13 05:45] UmanShahzad opened #107 "Correctly format Country text when no country given"
Notice the random floating `()` in the `Country` field:

[code]

[2022-06-08 14:59] tHrhxcv commented on #107
https://github.com/ipinfo/cli/issues/107#issue-1234766833

[2022-07-08 01:32] UmanShahzad opened #108 "IP calculator"
Here's some new subcommand ideas:

- `ipinfo calc <expr>`
- `ipinfo ip2n` (ip to number)
- `ipinfo n2ip` (number to ip - v4 if it fits, v6 otherwise, with an option to force v6)
- `ipinfo n2ip6` (forced ipv6 version of `n2ip`).

The `<expr>` for the `calc` subcmd can be an infix mathematical expression that supports `(`, `)`, `^`, `*`, `/`, `+`, `-` - PEMDAS - integers, and IP addresses.

For exam

[2022-07-09 04:37] nicksherron commented on #49
Have you looked into [spf13/cobra](https://github.com/spf13/cobra)? It's more or less, an extension of the spf13/pflags package you're already using and gives you things like auto-completion for free. Things like the help texts are also easier to maintain because it's largely auto-generated.

I'd consider submitting a pr to move to cobra if there is interest.

cc: @UmanShahzad  @coderholic

[2022-07-09 12:30] UmanShahzad commented on #49
Shifting to any CLI framework at this point would be a ginormous refactor. But we consider the framework you linked a while back but had used a different framework, and then had to undo that since it was too limiting and made it complex to support more sophisticated use cases like a pseudo-subcommand of `<ip>` and `<asn>` or other custom behavior. I think we'd only consider a framework if it's off

[2022-07-11 10:28] UmanShahzad opened #110 "IP split CIDR tool"
[code]

[2022-07-11 10:37] UmanShahzad opened #111 "IP expression resolver"
I think this can technically be done in Python and other languages without any rocket science, but just throwing ideas here anyway:

An expression resolving subcommand that implements a very basic language specifically for text stream IP handling, kind of like `awk` but specialized for IPs. It could support e.g.

- awk-like args after parsing streaming text input
- comparison (`<`, `<=`, `>`, `>=`

[2022-07-11 10:39] UmanShahzad commented on #111
Most use cases can probably be done without a full expression resolver though, e.g. one tool to get all entries in column 2 of the TSV, piped into another tool like `ipinfo tool overlap`, piped into a `ipinfo tool filterCidr`, etc

[2022-07-11 15:07] UmanShahzad opened #112 "IP tool: CIDR/range start IP"
An IP tool subcommand `ipinfo tool lower <cidr | range>` -> `start IP of input`.

Input can also be retrieved via `stdin`, in a stream, so multiple outputs are possible.

[2022-07-11 15:09] UmanShahzad opened #113 "IP tool: CIDR/range end IP"
An IP tool subcommand `ipinfo tool upper <cidr | range>` -> `end IP of input`.

Input can also be retrieved via `stdin`, in a stream, so multiple outputs are possible.

[2022-08-05 11:38] #107 closed

[2022-08-10 05:48] rm-Umar commented on #88
Works fine for me, it's not caching `myip` anymore. It was fixed in #114. I think we should release the new version as the last release `2.8.1` was on May 23 and the PR was merged on Jul 20.

[2022-08-10 05:48] #88 closed

[2022-08-11 07:24] #101 closed

[2022-08-16 10:38] #85 closed

[2022-09-05 07:40] presianbg opened #119 "[Feature Request] myip subcommand for dual stack setups"
Hi,

Thanks for the wonderful tool!
It would be awesome to return the assigned IPv6 address in dual stack setups!

Cheers,
PY

[2022-09-28 13:32] #110 closed

[2022-11-09 14:36] UmanShahzad opened #123 "Include country flag & currency in IP pretty view"
We have this in the underlying Go SDK now, would be a nice add.

[2022-11-20 08:03] #123 closed